################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JenkinsSample/bin
/JenkinsSample/obj/Debug
/packages
/JenkinsSample/obj/Release
